* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.contenedor {
    position: relative;
    top: 200px;
    bottom: 250px;
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-botones {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    width: 200px;
    height: 80px;
    background: #141414;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}