.boton.dos::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 200px);
    border-bottom: 200px solid #466ae0;
    border-right: 200px solid transparent;
    transition: .4s ease-in-out all;
}

.boton.dos:hover::after {
    left: 0;
}