.cuadrado_fondo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
    height: 850px;
    background-color: #8a8b30;
    box-shadow: 2px 2px 5px rgb(48, 47, 47);
}

.titulo {
    font-family: 'Courgette', cursive;
    font-size: 68px;
    position: relative;
    color: #91a52e;
    top: 50px;
    text-shadow: 5px 10px 5px rgb(71, 73, 22);
}

.metodo_letra {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color: rgb(255, 153, 0);
    text-shadow: 5px 5px 5px rgb(99, 82, 10);
}

.posicion-yoshi {
    font-family: 'Courgette', cursive;
    font-size: 68px;
    position: relative;
    color: #91a52e;
    top: 50px;
    text-shadow: 5px 10px 5px rgb(71, 73, 22);
}

h1 {
    display: inline-block;
    position: relative;
}

h1::after,
h1::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 7px;
    text-shadow: 2px 2px 5px rgb(48, 47, 47);
    background-color: rgb(240, 154, 26);
    top: 0.6em;
}

h1::before {
    left: -140px;
}

h1::after {
    right: -140px;
}

.class_a_href {
    pointer-events: none;
    cursor: default;
}